.fullscreen-dialog{
    height:100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    opacity: 0.9;
    backdrop-filter: blur(10px);
    position: absolute;
    top:0;
    transition-duration: 400ms;
}
.fullscreen-dialog.exiting, .fullscreen-dialog.exited{
    opacity: 0;
}
.fullscreen-dialog.exited{
    visibility: collapse;
}