.faction-container{
    width:40vw;
    height: 9mm;
    border-radius: 4.5mm;
    overflow: hidden;
    display: inline-block;
}
.faction-container>.faction{
    display: inline-block;
   height: 100%;
}
